<section class="content">
    <div class="columns is-centered">
        <div class="column is-four-fifths">
            <div class="card mt-5">
                <header class="card-header has-background-info">
                    <div class="block m-3">
                        <div class="has-text-white title is-4">
                            {{postData.title}}
                        </div>
                        <div class="has-text-white subtitle is-7">
                            Created by: {{postData.user.username}} on: {{format_date postData.createdAt}}
                        </div>
                </header>

                {{#if userCreatedPost}}
                <div class="has-background-warning is-flex is-align-items-center ">
                    <p class="is-inline mx-2 mb-0">This post was created by you. You can perform the following actions:
                    </p>
                    <button class="button my-2 is-success" id="edit-post-btn">
                        Edit Post
                    </button>
                    <button class="button m-2 is-danger" id="delete-post-btn">
                        Delete Post
                    </button>
                </div>
                {{/if}}

                <div class="card-content">

                    <div class="content">
                        <p>
                            {{postData.content}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mt-5">
                <div class="card-content">
                    <div class="content">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Add New Comment</label>
                            </div>
                            <div class="field-body is-inline">
                                <div class="field">
                                    <div class="control">
                                        <textarea class="textarea"
                                            placeholder="e.g. Wow, I've never thought about that before!"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="field-label">
                                <!-- Left empty for spacing -->
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-text-centered">
                                        <button class="button is-primary">
                                            Create Comment
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-5">
                <div class="card-content">
                    <h3 class="is-size-3 has-text-weight-bold">Comments</h3>



                </div>
            </div>
        </div>
    </div>
</section>

<script src="/assets/js/singlepost.js"></script>